<div class="padding-global"><div class="container-large"><h1 class="heading-style-h1 text-align-center">
{{ section.settings.text_headline }}
</h1>
<div class="collection-list-wrapper w-dyn-list"><div role="list" class="collection-list-2 w-dyn-items">{% if   {% if article.metafields.custom.thumbnail %} %}    <div li-if="  {% if article.metafields.custom.thumbnail %}" li-for="{% for article in blog.articles %}" role="listitem" class="collection-item-2 w-dyn-item">
    <a href="#" id="w-node-_31d7691a-61e9-2281-37fd-3664c5acaca0-cda66762" class="video_lightbox w-inline-block w-lightbox"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" viewbox="0 0 16 16" app="ikonik" class="ikonik-yo3dm"><path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393" app="ikonik"></path></svg><img src="https://d3e54v103j8qbb.cloudfront.net/img/placeholder-thumb.svg" loading="lazy" li-object="item.metafields.custom.thumbnail" alt="" class="video_thumbnail">
<script type="application/json" class="w-json">{
  "items": [
    {
      "url": "https://www.youtube.com/watch?v=ldZEvPcsN4g&pp=ygUEZWtvaA%3D%3D",
      "originalUrl": "https://www.youtube.com/watch?v=ldZEvPcsN4g&pp=ygUEZWtvaA%3D%3D",
      "width": 940,
      "height": 528,
      "thumbnailUrl": "https://i.ytimg.com/vi/ldZEvPcsN4g/hqdefault.jpg",
      "html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FldZEvPcsN4g%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DldZEvPcsN4g&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FldZEvPcsN4g%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\">",
      "type": "video"
    }
  ],
  "group": ""
}</script></a>    </div>
{% endif %}</div><div class="w-dyn-empty"><div>No items found.</div></div></div></div></div> {% schema %} {"tag":"div","name":"Hero Discography","class":"section_videos padding-vertical padding-large","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Music Videos"}],"presets":[{"name":"Hero Discography","category":"Liquify"}]} {% endschema %}