<div><h1 class="heading-style-h1 text-align-center">
{{ section.settings.text_headline }}
</h1>
<div class="w-embed"><style>.wrapper {
	max-width: 100%;
}
.youtube {
	background-color: #000;
	margin-bottom: 0px;
	position: relative;
	padding-top: 56.25%;
	overflow: hidden;
	cursor: pointer;
}
.youtube img {
	width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
	left: 0;
	opacity: 1;
}
.youtube .play-button {
	width: 5rem;
	height: 5rem;
	background-color: none;
	z-index: 1;
	opacity: 1;
  border-color: white;
  border-style: solid;
	border-radius: 100%;
}
.youtube .play-button:before {
	content: "";
	border-style: solid;
  border-width: 15px 0 15px 26px;
	border-color: transparent transparent transparent white;
}
.youtube img,
.youtube .play-button {
	cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
	position: absolute;
}
.youtube .play-button,
.youtube .play-button:before {
	top: 50%;
	left: 50%;
	transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
</style></div>{% assign limit = 3 %}
{% assign counter = 0 %}
<div class="collection-list-wrapper w-dyn-list"><div role="list" class="collection-list-2 w-dyn-items">{% for article in blogs['release'].articles %}    <div li-for="article in blogs['release'].articles" role="listitem" class="collection-item-2 w-dyn-item">
                                    
                            {% if counter < limit and article.metafields.custom.thumbnail %}    <div li-if="counter < limit and article.metafields.custom.thumbnail" id="w-node-f72f2459-e015-7bef-ce21-7d16947ef42a-947ef42a">
    <div class="video-embed w-embed"><div class="wrapper"><div class="youtube" data-embed="u7zm19YgQBA"><div class="play-button"></div></div></div></div>{% assign counter = counter | plus: 1 %}
    </div>
{% endif %}
                            
                        </div>
{% endfor %}</div><div class="empty-state w-dyn-empty"></div></div><div class="container-large"></div><a id="w-node-_11072f69-bd96-f690-eb02-63957b53029a-cda66762" href="{{ section.settings.url_button_link }}" class="button max-width-full margin-vertical margin-large orange no-round w-button"> {{ section.settings.text_button_text }} </a>
</div> {% schema %} {"tag":"div","name":"Hero Music Videos","class":"section_videos padding-vertical padding-large","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Music Videos"},{"id":"text_button_text","type":"text","label":"Button Text","default":"VIP\u00a0TICKETS AVAILABLE HERE"},{"id":"url_button_link","type":"url","label":"Button Link"}],"presets":[{"name":"Hero Music Videos","category":"Liquify"}]} {% endschema %}