<div class="padding-global"><div class="container-large"><h1 class="heading-style-h1 text-align-center">
{{ section.settings.text_headline }}
</h1>
<div class="collection-list-wrapper w-dyn-list"><div role="list" class="collection-list-2 w-dyn-items">{% for article in blogs['release'].articles limit:3 %}    <div li-for="article in blogs['release'].articles limit:3" role="listitem" class="collection-item-2 w-dyn-item">
                                    
                            <div id="w-node-f72f2459-e015-7bef-ce21-7d16947ef42a-947ef42a"><div class="video-embed w-embed"><div class="wrapper"><div class="youtube" data-embed="u7zm19YgQBA"><div class="play-button"></div></div></div></div></div>
                            
                        </div>
{% endfor %}</div><div class="w-dyn-empty"><div>No items found.</div></div></div></div></div> {% schema %} {"tag":"div","name":"Music Videos","class":"section_videos padding-vertical padding-large","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"Music Videos"}],"presets":[{"name":"Music Videos","category":"Liquify"}]} {% endschema %}